<footer>
    <div class="social">
        <a href="https://www.facebook.com/people/Mohit-Yadav/100010952768727/"><i class="fab fa-facebook"</i></a>
        <a href="https://www.linkedin.com/in/mohityad/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/72670394my"><i class="fab fa-github"></i></a>
        </div>
        <p class="copy">All right Reserved &copy;2021<span style="color: var(--main-color);"> WeatherInfo</span></p>
    </footer>