<!DOCTYPE html>
<html lang="en">
  <head>
     {{>header}}
  </head>
  <body>
   {{>navbar}}
    <!-- !---------------------main header------------------! -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                 <!-- !---------main header right-----------------! -->
                 <div class="col-md-6 col-12 main-header-right">
                    <figure>
                        <img class="img-wrapper about-img" src="images/about.jpg" alt="about-img">
                    </figure>
                </div>
                <!-- !---------main header left-----------------! -->
                <div class="col-md-6 col-12 main-header-left">
                    <p>welcome to weather app</p>
                    <h1>i am   <span>mern full stack developer</span> and an electronics engineer.</h1>
                    <a href="https://www.linkedin.com/in/mohityad/"><button>about me</button></a>
                </div>
               
            </div>
        </div>
      </div>
    </div>
    {{>footer}}
  </body>
</html>
